
body {
    margin: 0;
    padding: 0;
    background: url(resources/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: #000000;
}
body::-webkit-scrollbar-thumb{
    background: rgb(0, 104, 173);
}

.header,
.content {
    position: relative;
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 200px;
    text-align: center;
    transform: translateY(-100%);
    animation: reveal 1s ease-out forwards;
}

.header h1 {
    font-size: 3em;
}

.content h2 {
    font-size: 2em;
}

.content, .h2{
    font-family: Monaco, monospace;
    
}

p{
    font-size: 20px;
}


.footer p {
    font-size: 1.2em;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

@keyframes reveal {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.banner {
    background-color: #000000;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: top 0.8s ease;
}

.banner .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.title, .buttons button{
    color: #fff;
    margin-right: 20px;
    font-family: Monaco, monospace;
}

.logo {
    width: 120px;
}

.buttons button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
}