body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
}

.navbar.hidden {
    top: -60px;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.title {
    margin: 0;
}

.content {
    padding: 20px;
    margin-top: 80px; /* Ajustar según el tamaño de la barra superior */
}
